#root {
  max-width: 1280px;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
.app{
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Breakpoints for responsive design */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .card {
    padding: 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  #root {
    max-width: 768px;
  }
  .card {
    padding: 1.5em;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  #root {
    max-width: 768px;
  }
  .card {
    padding: 2em;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1280px) {
  #root {
    max-width: 1280px;
  }
  .card {
    padding: 2.5em;
  }
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media (min-width: 1280px) {
  .app {
    padding: 3em;
    width: 100%;
  }
}
